<h1 mat-dialog-title>Product Registration Form</h1>
<div mat-dialog-content>
  <!--Product name-->
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Product name">
  </mat-form-field>

  <!--Category-->
  <mat-form-field appearance="outline">
    <mat-label>Category</mat-label>
    <mat-select placeholder="Categories">
      <mat-option value="Pants">Pants</mat-option>
      <mat-option value="Skirts">Skirts</mat-option>
      <mat-option value="Jackets">Jackets</mat-option>
      <mat-option value="Coats">Coats</mat-option>
      <mat-option value="Blouses">Blouses</mat-option>
    </mat-select>
  </mat-form-field>

  <!--Product description-->
  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <textarea matInput placeholder="Product description"></textarea>
  </mat-form-field>

  <!--Product image-->
  <mat-form-field appearance="outline">
    <mat-label>Product image</mat-label>
    <mat-toolbar>
      <input matInput readonly>
    
      <!-- Browse Button -->
      <button mat-flat-button color="primary">Browse</button>
    
    </mat-toolbar>
    
    <!-- Fetch selected filed on change -->
    <input type="file" #UploadFileInput id="fileUpload" name="fileUpload" multiple="multiple" accept="image/*" />
  </mat-form-field>
</div>

<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
  <button mat-raised-button color="primary" >Save</button>
</div>