table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

#filters-table {
  margin-top: 30px;
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
}

#table-container {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
  max-height: 400px;
  overflow: auto;
}
